[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mne = {git = "https://github.com/mne-tools/mne-python.git", editable = true, ref = "v1.0.3"}
mne-bids = {git = "https://github.com/mne-tools/mne-bids.git", editable = true, ref = "v0.10"}
mne-connectivity = {git = "https://github.com/mne-tools/mne-connectivity.git", editable = true, ref = "v0.3"}
scipy = "*"
jupyter = "*"
pandas = "*"
janitor = "*"
sklearn = "*"
seaborn = "*"
pandas-flavor = "*"
pyjanitor = "*"
pandas-profiling = "*"
ipympl = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
